@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", serif;
  }
}

.hero-curve {
  position: relative;
}

.hero-curve::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 80px;
  background: white;
  clip-path: ellipse(50% 60% at 50% 100%);
}

.bg-soft-pink {
  background-color: #ffdfd9;
}

/* Added these two classes for responsive background images */
/* Updated CSS for index.css */
.bg-mobile-hero {
  background-image: url("/images/heromobile.webp");
}

.bg-desktop-hero {
  background-image: url("/images/herodesktop.webp");
}

@media (max-width: 767px) {
  .bg-desktop-hero {
    background-image: url("/images/heromobile.webp");
  }
}

/* Add responsive padding for mobile */
@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-curve::after {
    height: 40px;
  }
}
